# Environment for Cost-Effective RL Diagnosis Project
# To install: pip install -r requirements.txt

pandas==2.1.4
numpy==1.26.4
torch==2.1.2
gymnasium==0.29.1
stable-baselines3==2.2.1
sb3-contrib==2.2.1
scikit-learn==1.3.2
joblib==1.3.2
matplotlib==3.8.2
seaborn==0.13.1
sdv==1.8.0
xgboost==2.0.3
pyyaml==6.0.1